@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./reset.css";

.profile__info {
  margin-top: 100px;
  position: relative;
  color: #ffffff;
}

.profile__info h1 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
}

.profile__form {
  display: flex;
  margin-bottom: 100px;
}

.form__inputs input {
  text-overflow: ellipsis;
  width: 90%;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px #05bbb0 solid;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #bda1e0;
  /*margin-bottom: 50px;*/
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.form__inputs h1 {
  width: 100%;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}

.form__inputs {
  width: 66%;
  height: 100%;
  text-align: left;
  display: inline-block;
}

.input__line:first-child {
  margin-bottom: 50px;
}

.certain__input {
  width: 360px;
  margin-right: 20px;
}

.input__line {
  display: flex;
  width: 760px;
}

.points p {
  display: block;
  font-size: 72px;
  font-weight: 500;
  color: #121212;
}

.points__number__one {
  -webkit-text-stroke: 1px #a96bf8;
  position: absolute;
  text-align: center;
  width: 98%;
}

.points__number__two {
  -webkit-text-stroke: 1px #05bbb0;
  position: absolute;
  text-align: center;
  line-height: 108%;
  width: 100%;
}

.points {
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  padding-top: 100px;
}

.points h1 {
  text-align: center;
  margin-top: 0;
}

.points__container {
  display: flex;
  align-items: center;
  height: inherit;
  width: 100%;
}

.your__sessions {
  margin-top: 100px;
  position: relative;
  color: #ffffff;
}

.your__sessions h1 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
}

.sessions {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.sessions img {
  width: 300px;
  height: 422px;
}

.session {
  width: 300px;
}

.session__info {
  margin-top: 20px;
  text-align: center;
}

.film__name {
  font-size: 25px;
  font-weight: 400;
  line-height: 43px;
  color: white;
  text-transform: uppercase;
}

.film__date,
.film__time {
  font-size: 25px;
  font-weight: 400;
  line-height: 43px;
  color: #d5b5fd;
}

.button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  height: 104px;
  width: 404px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.button__border__one {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90px;
  width: 390px;
  border: 3px #05bbb0 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__border__one p {
  font-weight: 400;
  font-size: 26px;
  margin: auto;
}

.button__border__two {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 90px;
  width: 390px;
  border: 3px #a96bf8 solid;
}

.button:hover .button__border__two {
  display: block;
  right: 0;
}

.buttons {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.logout__button {
  height: 38px;
  right: 0;
  margin-top: 25px;
  position: absolute;
  display: flex;
  align-items: center;
}

.logout__button img {
  content: url("../img/logout.svg");
  display: block;
  height: 100%;
  width: auto;
  margin-right: 10px;
}

.logout__button p {
  color: #ffffff;
  display: block;
  font-size: 22px;
  font-weight: 400;
}

.logout__button:hover p {
  color: #a2e2de;
}

.logout__button:hover img {
  content: url("../img/logout_hover.svg");
}
